@import "tailwindcss";

@theme {
  --font-sans: "Geist Variable", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-mono: "Geist Mono Variable", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary: #f2f2f2;
  --color-secondary: #e0e0e0;
  --color-tertiary: #d0d0d0;
}

@layer base {
  :root {
    @apply text-white bg-neutral-800 font-sans;
  }
}

